@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@300;400&family=Poppins:wght@300&family=Raleway&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
}

nav ul{
    width: 100%;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 300px;
    align-items: center;
    list-style: none;
    background: #000;
}

.box{
    display: inline-block;
    height: fit-content;
    width: fit-content;
    padding: 10px 20px;
    position: absolute;
    left: 728px;
    top: 50%;
    border-radius: 10px;
    background: #000;
}

button{
    /*background: #6c6c6c;
    border: none;
    border-radius: 20px;*/
    width: fit-content;
    padding: 10px 20px ;
    position: absolute;
    top: 65%;
    left: 746px;
    /*color: inherit;
    font: inherit;*/
    }